[user]
	email = m@maowtm.org
	name = Mao
  signingkey = F8F90429D7F6C877C7CC427C83C39700868796DB
[push]
	default = simple
[core]
	editor = "code --wait"
	excludesfile = /home/mao/.gitignore
  hooksPath = /dev/null
[http]
  postBuffer = 1024288000
[grep]
  lineNumber = true
[commit]
	gpgsign = true
[alias]
  wt = worktree
[pull]
	ff = only
[init]
	defaultBranch = main
[remote "origin"]
	prune = true
[rebase]
	autostash = true
[credential]
	helper = store --file /home/mao/.credentials/git
[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
