[user]
	email = m@maowtm.org
	name = Mao Wtm
  signingkey = F8F90429D7F6C877C7CC427C83C39700868796DB
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /home/mao/.gitignore
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[http]
  postBuffer = 1024288000
[grep]
  lineNumber = true
[commit]
	gpgsign = true
