[user]
	email = micromaomao@gmail.com
	name = Mao Wtm
  signingkey = 2B30339029E6CBD128779A876B8AA3FDC9DAF7AA
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /home/mao/.gitignore
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[http]
  postBuffer = 524288000
[grep]
  lineNumber = true
