[Unit]
Description=Reset PAM tally2 after reboot

[Service]
Type=oneshot
 RemainAfterExit=yes
User=root
ExecStart=/usr/sbin/pam_tally2 -u mao --reset

[Install]
WantedBy=multi-user.target
